*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}

:root{
--white: hsl(0, 0%, 100%);
--pale-blue: hsl(225, 100%, 98%);
--grayish-blue:hsl(227, 47%, 96%);
--dark-greyish-blue:hsl(228, 12%, 44%);
--very-dark-blue:hsl(230, 17%, 14%);
--dark-blue:hsl(232, 19%, 15%);
--dark-desaturated-blue:hsl(228, 28%, 20%);
--desaturated-blue:hsl(228, 34%, 66%);
}
body{
    background-color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: var(--dark-greyish-blue);
    
}

h1, .views{
    color: var(--very-dark-blue)
}

h2{
    margin: 1.2em 0;
}

main{
    height: 100vh;
}

.top-color{
    height: 30vh;
    background-color: var(--pale-blue);
}

.container{
    width: 90vw;
    margin: 0 auto;
    transform: translateY(-25%);
}

.top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em; 
}

.toggler{
    margin-top: 0.4em;
    background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    border-radius: 20px;
    width: 100%;
    min-height: 30px;
    position: relative;
    display: flex;
    justify-content: end;
}

.check{
    width: 100%;
    z-index: 10;
    opacity: 0;
}

.check:hover{
    cursor: pointer;
}

.ball{
    align-self: center;
    min-width: 25px;
    min-height: 25px;
    background-color: var(--white);
    border-radius: 100px;
    position: absolute;
    margin: 0 0.2em;
}

#social-status, .overview{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-box{
    width: 22%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1.2em 0;
    background-color: var(--grayish-blue);
    border-radius: 10px;
}

.overview-box{
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.6em;
    padding: 1.2em;
    background-color: var(--grayish-blue);
    margin-bottom: 2em;
    border-radius: 10px;
}

.overview-box:hover, .social-box:hover{
    background-color:hsl(229, 82%, 94%); ;
    cursor: pointer;
}

.overview-stats{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overview-title{
    font-weight: 700;
}

.views{
    font-size: 2em;
    font-weight: 700;
}

.align{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
}

.fallowers{
    font-size: 2.5em;
    font-weight: 700;
    color: var(--very-dark-blue);
}

.subtitle{
    text-transform: uppercase;
}

#facebook{
  border-top: 4px solid hsl(208, 92%, 53%);  
}

#twitter{
    border-top: 4px solid hsl(203, 89%, 53%);  
  }

#instagram{
    border-top: 4px solid hsl(329, 70%, 58%);
}

#youtube{
    border-top: 4px solid hsl(348, 97%, 39%);
}

.up{
    color: hsl(163, 72%, 41%);
}

.down{
    color: hsl(356, 69%, 56%);
}

.dark-mode-bg{
    background-color: var(--very-dark-blue);
}

.dark-mode-top{
    background-color: var(--dark-blue);
}

.dark-mode-text{
    color: var(--desaturated-blue);
}

.dark-mode-white-text{
    color: var(--white);
}

.dark-mode-box{
    background-color: var(--dark-desaturated-blue);
}

.dark-mode-box:hover {
    background-color:hsl(228, 28%, 32%);
    cursor: pointer;
}

.toggler-dark{
 justify-content: start;
}

.ball-dark{
    background-color: var(--very-dark-blue);
}

@media (max-width: 450px){

    .container{
        transform: translateY(-10%);
    }

    .top{
        flex-direction: column;
        gap: 1.2em;
    }

    .toggler{
        width: 25%;
    }
    
    #social-status, .overview{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .social-box , .overview-box{
        width: 100%; 
    }

    #social-status{
        gap: 1.2em;
    }

    .switch{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}